
<blockquote class="blockquote bg-light pl-5 pr-2 text-right border border-left-0 border-top-0 border-bottom-0 border-dark">
  <p class="mb-0">{{ include.quote }}</p>
  {% if include.author %}
  <footer class="blockquote-footer">{{ include.author }}
    {% if include.source %}
      in <cite title="Source Title">{{ include.source }}</cite>
    {% endif %}
  </footer>
  {% elsif include.source %}
    <footer class="blockquote-footer">  in <cite title="Source Title">{{ include.source }}</cite>  </footer>
  {% endif %}
</blockquote>
