---
---

// Custom bootstrap variables must be set or imported *before* bootstrap.
//@import "bootstrap";
@import "_bootstrap.scss";

.post-link {
  color: $gray-900;
}

.post :hover {

    color: $white;
    text-decoration: none;

    .post-link {
      color: $white;
      background-color: theme-color("dark");
    }
}

.post h2 small {
  font-size: 40%;
}
