---
---

@import "_variables.scss";

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "_bootstrap.scss";


.nav-link:hover {
  color: darken($link-color, 15%);
}

// posts list
.post-list {
  .post-link {
    color: $gray-900;
  }

  .post :hover {

    .post-link {
      color: $white;
      background-color: theme-color("dark");
    }
  }
}
.post-list .post h2 small {
  font-size: 40%;
}

.post-list .post-excerpt {

}
// post
.post a {
  @extend .p-1;
}
.post a:hover {
  background-color: $link-hover-bg-color;
}
.post strong {
  color: darken($green, 15%);
}
