---
layout: default
---

<!--div class="home">

  <h1 class="page-heading">Posts</h1-->

  <div class="post-list list-unstyled col-sm-12">
    {% for post in site.posts reversed %}
      <div class="post mb-3">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <small class="post-meta text-muted">{{ post.date | date: "%B %Y" }}</small>
        </h2>
        <span class="post-excerpt px-2"><small class="text-secondary">{{ post.excerpt }}</small></span>

      </div>
    {% endfor %}
  </div>

<!--/div-->
