---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header text-center">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = "%d %B, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      {% if page.author %}
        <em>Written by</em> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      {% if page.excerpt %}
      <div class="text-secondary text-uppercase">{{ page.excerpt }}</div>
      {% endif %}
    </div>
    <hr style="width: 50vw;">
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
